body{
    font-family: 'Mukta', sans-serif;
    background-color: #181818;
    color: #E2E2E2;
}
:is(h1, h2, h3, h4, h5, h6) {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
a{
    color: #1DA1F2;
}
legend{
    color: white;
}

.container{
    padding-top: 60px;
}
.navbar-inverse .navbar-brand{
    font-family: 'Source Sans Pro', sans-serif;
    color: #1DA1F2;
}
.navbar-inverse .navbar-brand:hover{
    color: #1DA1F2;
}
.navbar-nav{
    font-family: 'Source Sans Pro', sans-serif;
}
.navbar{
    border-radius: 0;
}
.form-control{
    background-color: white;
    border-style: none;
}
#imageFile{
    background-color: #666666;
    border-style: none;
    color: #C9C9C9;
}
.btn-success{
    background-color: #0275d8;
    border-color: #0275d8;
}
.btn-outline-primary:hover{
    color:gray;
}
.photo{
    padding: 1.1em 1.1em 1.1em 1.1em;
    text-align: center;
}

